* {
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

header{
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
}

#Left_side{
    float: left;
    width: 20%;
    background: #ccc;
    padding: 20px;    
}

#Center_side{
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 100%;
}

section:after{
    content: "";
    display: table;
    /* clear: both; */
}

footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

canvas{
    max-height: 1000px;
    max-width: 900px;
}

select {
    /* position: relative; */
    font-family: Arial;
    background-color: DodgerBlue;
    top: 14px;
    right: 10px;
    padding: 8px 16px;
    color: white;
    align-self: center;
}

label {
    position: relative;
    color: rebeccapurple;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

span {
    color: navy;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    bottom: 30px;
}


/*Responsiveness for small screens*/
@media(max-width: 600px){
    #Left_side, #Center_side{
        width: 100%;
        height: auto;
    }
}
